/* Class Styles for html markup */

/* Rajout de commentaires au fichier CSS destine au projet */


p, .p { /* mod AV 26 sept 2016 */

    font-size: 12px;

    width: 100%;
    padding-right: 20%;
    padding-left: 20%;

}

manuscrit {
    color : gray;
    display : block;
    border : thin solid black;
} 

imprime  {
    color : black;
    display : block;
    border : thin solid black;
} 

numero_de_page:before  {
    content : '<';
} 

numero_de_page:after  {
    content : '>';
} 

numero_de_page  {
    font-size: 12pt;
} 

note_bas_page:before  {
    content:'<';
} 

note_bas_page:after  {
    content:'>';
} 

texte_principal  {
    align-content: space-around; /*modif AV 05 july 2016*/
    font-weight: bold;
} 

titre  {
    font-size: 16pt;
    font-weight: bold;
} 

gauche  {
    position: relative;
    text-align: left;
    left: 20%;
} 

centre  {
    position: relative;
    /*text-align: center;*/
    left: 40%;
    width: 40%;
} 

droit  {
    position: relative;
    text-align: right;
    left: 60%;
} 


feutre_bleu {
    display: inline-block;
    color: blue;
    font-weight: bold;
} 


stylo_bleu > p  {
    display: inline-block;
    color: blue;
    font-weight: normal;
}

feutre_bleu > stylo_bleu > p  {
    display: inline-block;
    color: blue;
    font-weight: normal;
}  


crayon  {
    display: inline-block;
    color: gray;
} 

ajout_en_interligne  {   
  display: inline-block;
  font-size: 10pt;
  margin-left: 10px;
  margin-right: 10px;
} 

#ajout_en_interligne  {   
  display: block;
  font-size: 10pt;
  margin-left: 10px;
  margin-right: 10px;
} 

ajout_en_ligne  {
    display: inline-block;
    font-size: 0.8em;
} 

ajout_en_marge {
  position: absolute;
  display: block;
  right: 0px;  /*modif AV 05 july 2016*/
/*  margin: 10pt;*/
  border-width: 1pt;
  border-style: dotted;
  border-color: red;
}

ajout_en_marge_droit {  /*droit*/ /* mod AV 26 sept 2016 */
  /*position: absolute;*/
  
/*  margin: 10pt;*/
  border-width: 1pt;
  border-style: dotted;
  border-color: red;
  padding: 3px;
  width: 18%;   /*68%*/
  left: 98%;
}

ajout_en_marge_gauche {  /* gauche */ /* mod AV 26 sept 2016 */
  /*position: absolute;*/
  
/*  margin: 10pt;*/
  border-width: 1pt;
  border-style: dotted;
  border-color: red;
  padding: 3px;
  width: 18%;   /*68%*/
  left: 2%;
}

/*gauche > ajout_en_marge { 
  position: absolute;
  display: block;
  left: 0px;  modif AV 05 july 2016
  margin: 10pt;
  border-width: 1pt;
  border-style: dotted;
  border-color: red;
}*/

page {
    display: block;
    margin: 10px;
    border: thin solid black;
    font-size: 12pt;
} 

descriptif:before {
    display: block;
    font-size: 2em;
    content: "Descriptif de la page";
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
} 

descriptif {
    text-align: left;
    font-size: 1em;
    padding-left: 30px;
    border-bottom: thin solid black;
    margin-bottom: 30px;
    padding-bottom: 20px;
} 

fichier_image:before {
    display: block;
    content: "- Image de reference : " attr(fichier);
} 

transcrit_par:before {
    display: block;
    content: "- Transcription effectuee par " attr(transcripteur) " le " attr(date);
} 

identification:before {
    display: block;
    content: "- Dossier " attr(cote) ", chemise " attr(chemise) ", sous-chemise " attr(sous_chemise);
} 

foliotation_d_inventaire:before {
    display: block;
    content: "- Foliotation d'inventaire : " attr(folio);
} 

illisible:before {
    /*background-color: #FFB0B0;*/
    content : "*--";
} 

illisible:after {
    content : "--*";
} 

classement:before {
    display: block;
    content: "- Classement : Domaine : " attr(domaine) ", Corpus : " attr(corpus) ", Document : " attr(document);
} 

douteux {
    display : inline;
    border-bottom : thin dotted red;
    color : gray;
}

contenu:before {
    display: block;
    font-size: 2em;
    content: "Contenu de la page";
    text-align: left;
    padding-bottom: 20px;
} 

contenu {
    text-align: left;
    font-size: 1em;
    padding-left: 30px;
} 

bloc {
    display: block;
} 

paragraphe {
    display: block;
    margin-top: 8px;

} 

nouvelle_ligne {
    display: block;
    content: "";

} 

[a1_type = "note_bas_page"] {
    display: block;
    font-size: 0.9em;
    padding-top: 50px;
    padding: 10px;
    margin: 10px;
} 

*[a5_position_horizontale = "centre"] {
    margin-left: 10%;
    margin-right: 10%;
} 

*[a5_position_horizontale = "droite"] {
    margin-left: 70%;
    margin-right: 0%;
} 

*[a5_position_horizontale = "gauche"] {
    margin-left: 0%;
    margin-right: 0%;
} 

*[a2_forme = "manuscrit"] {
    font-style: italic;
} 

*[a2_forme = "tapuscrit"] {
    font-family: courier, fixed, monospace;
    font-size: 0.8em;
} 

*[a2_forme = "imprime"] {
    font-family: arial, helvetica, sans-serif;
} 

*[a4_couleur = "noir"] {
    color: black;
} 

*[a4_couleur = "bleu"] {
    color: blue;
} 

*[a4_couleur = "rouge"] {
    color: red;
} 

*[a4_couleur = "vert"] {
    color: green;
} 

*[a4_couleur = "turquoise"] {
    color: #30D5C8;
} 

*[a4_couleur = "ardoise"] {
    color: #686F8C;
} 

*[alignement_texte = "centre"] {
    text-align: center;
} 

*[alignement_texte = "droite"] {
    text-align: right;
} 

*[alignement_texte = "gauche"] {
    text-align: left;
} 

*[position_ajout = "interligne"] {
    font-size: 0.7em;
    vertical-align: top;
} 

*[position_ajout = "normal"] {
    font-size: 0.8em;

} 

*[position_appel_de_note = "interligne"] {
    font-size: 0.9em;
    vertical-align: top;
} 

*[position_appel_de_note = "normal"] {
    font-size: 0.9em;
} 

passage_barre {
    left: 33%;
    display: inline-block;
/*    width : 80%;*/
    background-color: #BDBDBD;
} 

alinea{display: inline-block;
	width: 40px;
        content: "";
/*} 

alinea[taille = "petit"]{
    width: 40px;
    content: "";
}
alinea[taille = "moyen"]{
    width: 60px;
    content: "";
}
alinea[taille = "grand"]{
    width: 80px;
    content: "";*/
}
gras {
    font-weight: bold;
} 

appel_de_note[position_appel_de_note = "interligne"] {
    font-size: 0.7em;
} 

rature {
    text-decoration: line-through;
} 

souligne{
    text-decoration: underline;
} 

italique {
    display: inline;
    font-style: italic;
} 

exposant {
    display: inline;
    font-size: 0.8em;
    vertical-align: top;
} 


/* Div Styles for Toolbar */


/*
div[id=manuscrite]  {
    color : gray;
    display : block;
    border : thin solid black;
}

div[id=imprimee ]  {
    color : black;
    display : block;
    border : thin solid black;
}

div[id=numero_de_page:before ]  {
    content : '<';
}

div[id=numero_de_page:after ]  {
    content : '>';
}

div[id=numero_de_page ]  {
    font-size: 12pt;
}

div[id=note_bas_page:before ]  {
    content:'<';
}

div[id=note_bas_page:after ]  {
    content:'>';
}

div[id=texte_principal ]  {
    font-weight: bold;
}

div[id=titre ]  {
    font-size: 16pt;
    font-weight: bold;
}

div[id=gauche ]  {
    text-align: left;
}

div[id=centre ]  {
    text-align: center;
}

div[id=droite ]  {
    text-align: right;
}

div[id=stylo_bleu ]  {
    color: blue;
}

div[id=feutre_bleu ]  {
    color: blue;
    font-weight: bold;
}

div[id=crayon ]  {
    color: gray;
}

div[id=ajout_en_interligne ]  {   
  display: block;
  font-size: 10pt;
  margin-left: 10px;
  margin-right: 10px;
}

div[id=#ajout_en_interligne ]  {   
  display: block;
  font-size: 10pt;
  margin-left: 10px;
  margin-right: 10px;
}

div[id=ajout_en_ligne ]  {
    font-size: 0.8em;
}

div[id=ajout_en_marge ]  {
  display: block;
  margin: 10pt;
}

div[id=page]  {
    display: block;
    margin: 10px;
    border: thin solid black;
    font-size: 12pt;
}

div[id=descriptif:before]  {
    display: block;
    font-size: 2em;
    content: "Descriptif de la page";
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

div[id=descriptif]  {
    text-align: left;
    font-size: 1em;
    padding-left: 30px;
    border-bottom: thin solid black;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

div[id=fichier_image:before]  {
    display: block;
    content: "- Image de reference : " attr(fichier);
}

div[id=transcrit_par:before]  {
    display: block;
    content: "- Transcription effectuee par " attr(transcripteur) " le " attr(date);
}

div[id=identification:before]  {
    display: block;
    content: "- Dossier " attr(cote) ", chemise " attr(chemise) ", sous-chemise " attr(sous_chemise);
}

div[id=foliotation_d_inventaire:before]  {
    display: block;
    content: "- Foliotation d'inventaire : " attr(folio);
}

div[id=illisible:before]  {
    background-color: #FFB0B0;
    content : "*--";
}

div[id=illisible:after]  {
    content : "--*";
}

div[id=douteux] { 
    display : inline;
    border-bottom : thin dotted red;
    color : gray;
}

div[id=classement:before]  {
    display: block;
    content: "- Classement : Domaine : " attr(domaine) ", Corpus : " attr(corpus) ", Document : " attr(document);
}

div[id=contenu:before]  {
    display: block;
    font-size: 2em;
    content: "Contenu de la page";
    text-align: left;
    padding-bottom: 20px;
}

div[id=contenu]  {
    text-align: left;
    font-size: 1em;
    padding-left: 30px;
}

div[id=bloc]  {
    display: block;
}

div[id=paragraphe]  {
    display: block;
    margin-top: 8px;

}

div[id=nouvelle_ligne]  {
    display: block;
    content: "";

}

div[id=[a1_type = "note_bas_page"]]  {
    display: block;
    font-size: 0.9em;
    padding-top: 50px;
    padding: 10px;
    margin: 10px;
}

div[id=*[a5_position_horizontale = "centre"]]  {
    margin-left: 10%;
    margin-right: 10%;
}

div[id=*[a5_position_horizontale = "droite"]]  {
    margin-left: 70%;
    margin-right: 0%;
}

div[id=*[a5_position_horizontale = "gauche"]]  {
    margin-left: 0%;
    margin-right: 0%;
}

div[id=*[a2_forme = "manuscrit"]]  {
    font-style: italic;
}

div[id=*[a2_forme = "tapuscrit"]]  {
    font-family: courier, fixed, monospace;
    font-size: 0.8em;
}

div[id=*[a2_forme = "imprime"]]  {
    font-family: arial, helvetica, sans-serif;
}

div[id=*[a4_couleur = "noir"]]  {
    color: black;
}

div[id=*[a4_couleur = "bleu"]]  {
    color: blue;
}

div[id=*[a4_couleur = "rouge"]]  {
    color: red;
}

div[id=*[a4_couleur = "vert"]]  {
    color: green;
}

div[id=*[a4_couleur = "turquoise"]]  {
    color: #30D5C8;
}

div[id=*[a4_couleur = "ardoise"]]  {
    color: #686F8C;
}

div[id=*[alignement_texte = "centre"]]  {
    text-align: center;
}

div[id=*[alignement_texte = "droite"]]  {
    text-align: right;
}

div[id=*[alignement_texte = "gauche"]]  {
    text-align: left;
}

div[id=*[position_ajout = "interligne"]]  {
    font-size: 0.7em;
    vertical-align: top;
}

div[id=*[position_ajout = "normal"]]  {
    font-size: 0.8em;

}

div[id=*[position_appel_de_note = "interligne"]]  {
    font-size: 0.9em;
    vertical-align: top;
}

div[id=*[position_appel_de_note = "normal"]]  {
    font-size: 0.9em;
}

div[id=alinea[taille = "petit"]]  {
    width: 40px;
    content: "";
}

div[id=alinea[taille = "moyen"]]  {
    width: 60px;
    content: "";
}

div[id=alinea[taille = "grand"]]  {
    width: 80px;
    content: "";
}


div[id=passage_barre]  {
    display: inline-block;
    background-color: #BDBDBD;

}

div[id=gras]  {
    font-weight: bold;
}

div[id=appel_de_note[position_appel_de_note = "interligne"]]  {
    font-size: 0.7em;
}

div[id=rature]  {
    text-decoration: line-through;
}

div[id=souligne]  {
    text-decoration: underline;
}

div[id=italique]  {
    font-style: italic;
}

div[id=exposant]  {
    font-size: 0.8em;
    vertical-align: top;
}*/