{# src/PHuN/PlatformBundle/Resources/views/Page/index.html.twig #}

{% extends "PHuNPlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index
{% endblock %}

{% block body %}
	<h2> Comment ça marche ... </h2>

	<div class="row">
		<div class="col-sm-4"><div class="col-sm-4""></div></div>
		<div class="col-sm-4"><img src="{{ asset('etape_2.png') }}"/><div class="col-sm-4""></div></div>
		<div class="col-sm-4"><div class="col-sm-4""></div></div>
	</div>					

{% endblock %}