{# src/PHuN/PlatformBundleResources/view/Advert/menu.html.twig #}

{# Ce template n'hérite de personne .. #}

<ul class="nav nav-pills nav-stacked">
	{% for transcription in listTranscriptions %}
		<li>
			<a href="{{ path('phun_platform_view', {'id': transcription.image.id}) }}">
				{{ transcription.author.login }} le {{ transcription.date }}
			</a>
		</li>
	{% endfor %}
</ul>				